### python과 mysql을 연동 
1. 외부의 라이브러리(pymysql) 설치 
2. 라이브러리 로드 
3. sql 서버의 정보를 입력
4. sql 서버에 접속
5. sql 쿼리문을 작성하여 sql 서버에 쿼리문을 요청 
6. 해당하는 쿼리문에 따라 응답 메시지

In [ ]:
!pip install pymysql

In [ ]:
# 라이브러리 로드 
import pymysql

In [ ]:
## cryptography error 발생시 
!pip install cryptography

In [ ]:
## 라이브러리 강제로 리로드 
import imp 
imp.reload(pymysql)

In [ ]:
# sql 서버의 정보를 입력 -> 접속
_db = pymysql.connect(
    host='127.0.0.1', 
    port=3306, 
    user='root', 
    password = '1234', 
    db = 'ubion'
)

In [ ]:
# cursor 생성
cursor = _db.cursor(pymysql.cursors.DictCursor)
cursor2 = _db.cursor()

In [ ]:
sql = "select * from emp"

In [ ]:
cursor.execute(sql)

In [ ]:
cursor.fetchall()

In [ ]:
cursor2.execute(sql)

In [ ]:
cursor2.fetchall()

In [ ]:
sql = """
    insert 
    into 
    user 
    values 
    ('test3' , '1234', 'park', 30, 'seoul')
"""

In [ ]:
cursor.execute(sql)

In [ ]:
sql = """
    select 
    * 
    from 
    user
"""

In [ ]:
cursor.execute(sql)
cursor.fetchall()

In [ ]:
_db.commit()

In [ ]:
## user table에 데이터를 삽입
## 입력 데이터는 input 함수를 이용하여 데이터를 받아온다. 
id = input('ID를 입력하시오')
password = input('PASSWORD를 입력하시오')
name = input('name을 입력하시오')
age = input('age를 입력하시오')
address = input('address를 입력하시오')
print(id, password, name, age, address)

sql  = """
    insert into 
    user 
    values 
    (%s, %s, %s, %s, %s)
"""
data_list = [id, password, name, age, address]

cursor.execute(sql, data_list)
_db.commit()

In [ ]:
# select문을 사용할때 함수 
def select_query(sql, values):
    cursor.execute(sql, values)
    result = cursor.fetchall()
    return result

In [ ]:
sql = """
    select 
    * 
    from 
    user
"""
select_query(sql, [])

In [ ]:
sql = """
    select 
    * 
    from 
    user 
    where 
    id = %s
"""
values = input('조회할 ID를 입력하시오')
select_query(sql, [values])

In [ ]:
## CRU의 쿼리문을 사용할때 함수 
def cud_query(sql, *values):
    cursor.execute(sql, values)
    _db.commit()
    return 'Query OK'

In [ ]:
sql = """
    update 
    user 
    set 
    password = %s 
    where 
    id = %s
"""
id = input('password를 변경할 ID를 입력하시오')
password = input('변경할 패스워드를 입력하시오')

cud_query(sql, password, id)

In [ ]:
sql  = """
    SELECT 
    * 
    FROM 
    user
"""

# print(sql.lower().split()[0] == 'select')
# sql.strip().startswith('select')
sql.split()[0].lower()

In [ ]:
sql = "select * from user"

sql.split()[0]

In [ ]:
# 위에서 생성한 2개의 함수를 하나로 합쳐서 생성
def sql_query(sql, *values):
    cursor.execute(sql, values)
    # 쿼리문이 select문이면 
    if sql.lower().split()[0] == 'select':
    # if sql.upper().strip().statswith('SELECT'):
        result = cursor.fetchall()
    else:
        _db.commit()
        result = 'Query OK'
    return result

In [ ]:
sql = """
    SELECT 
    * 
    FROM 
    user
"""
sql_query(sql)

In [61]:
sql = "select * from user where id = %s"
sql2 = "insert into user values (%s, %s, %s, %s, %s)"
sql3 = 'delete from user where id = %s'
print(sql_query(sql, 'test2'))
print(sql_query(sql2, 'test10', '1234', 'kim', 25, 'busan'))
print(sql_query(sql3, 'test'))

[{'id': 'test2', 'password': '1111', 'name': 'park', 'age': 30, 'address': 'busan'}]
Query OK
Query OK