### 절대모멘텀
- 주식 데이터를 로드 
- 파생변수 'STD-YM' 생성 -> Date 컬럼의 년-월 추출하여 대입
- 년-월 별 마지막 날의 데이터를 month_last_dt 데이터프레임에 대입
- 전월의 수정주가 값을 가지는 파생변수를 생성
- 전년도의 수정주가 값을 가지는 파생변수 생성
- 전월, 전년도의 수정주가를 가지고 거래내역을 생성
- 수익율 계산

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../../csv/AMZN.csv', index_col='Date')

In [ ]:
df.head()

In [ ]:
# index를 시계열 변경 
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')

In [ ]:
df['STD-YM'] = ""

In [ ]:
# STD-YM 컬럼을 생성 -> index에 있는 년-월 데이터를 추출
for i in range(len(df.index)):
    # i? -> 위치 값
    df['STD-YM'][i] = df.index[i].strftime('%Y-%m')

df.head()

In [ ]:
df.drop('STD-YM', axis=1, inplace=True)

In [ ]:
for i in df.index:
    # i? index 값
    df.loc[i, 'STD-YM'] = i.strftime('%Y-%m')

df.head()

In [ ]:
df.info()

In [ ]:
df.drop('STD-YM', axis=1, inplace=True)

In [ ]:
df['STD-YM'] = df.index.map(
    lambda x : x.strftime('%Y-%m')
)

In [ ]:
df.head()

In [ ]:
df2 = pd.read_csv('../../csv/AAPL.csv')
df2.head()

In [ ]:
from datetime import datetime

In [ ]:
# '1980-12-12' -> 시계열데이터 변환 ( 시계열 1980-12-12 ) -> 문자열 변환 ( 1980-12 )
df2['Date'].apply(
    lambda x : datetime.strptime(x, '%Y-%m-%d').strftime('%Y-%m')
)

In [ ]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [ ]:
df2.info()

In [44]:
df2['Date'].dt.strftime('%Y-%m')

0       1980-12
1       1980-12
2       1980-12
3       1980-12
4       1980-12
         ...
9710    2019-06
9711    2019-06
9712    2019-06
9713    2019-06
9714    2019-06
Name: Date, Length: 9715, dtype: object

In [45]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,STD-YM
Date,,,,,,,
1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000,1997-05
1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000,1997-05
1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800,1997-05
1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200,1997-05
1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200,1997-05