In [ ]:
import pandas as pd
import invest
import imp 
imp.reload(invest)

In [ ]:
# invest 라이브러리 안에 있는 바이앤홀드 함수를 호출 

df = pd.read_csv("../../csv/USM.csv")
df.head()

In [ ]:
df2 = pd.read_csv("../../csv/GDX.csv")
df2.head()

In [ ]:
test1 = invest.Invest(
    df
)

In [ ]:
test2 = invest.Invest(
    df2, 
    'Close'
)

In [ ]:
test1.BuyAndHold()

In [8]:
test2.BuyAndHold()

바이앤홀드 누적 수익율은 0.5562324509031036입니다.

c:\Users\moons\Documents\GitHub\ubion_9\python\231205\invest\quant\buyandhold.py:29: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result = df['rtn'][-1]

                Close  daily_rtn       rtn
Date
2010-01-04  47.709999   0.032461  1.032461
2010-01-05  48.169998   0.009642  1.042415
2010-01-06  49.340000   0.024289  1.067734
2010-01-07  49.099998  -0.004864  1.062541
2010-01-08  49.840000   0.015071  1.078554
...               ...        ...       ...
2019-06-18  23.670000   0.008951  0.512227
2019-06-19  24.000000   0.013942  0.519368
2019-06-20  25.049999   0.043750  0.542090
2019-06-21  25.209999   0.006387  0.545553
2019-06-24  25.703501   0.019576  0.556232

[2384 rows x 3 columns]