In [7]:
import pandas as pd
import invest
import imp 
imp.reload(invest)

C:\Users\moons\AppData\Local\Temp\ipykernel_21280\464001666.py:3: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

In [8]:
# invest 라이브러리 안에 있는 바이앤홀드 함수를 호출 

df = pd.read_csv("../../csv/USM.csv")
df.head()

         Date    Open    High     Low   Close  Adj Close   Volume
0  1988-05-04  14.875  15.000  14.875  15.000  12.865627  1101400
1  1988-05-05  15.000  15.125  15.000  15.125  12.972840    41500
2  1988-05-06  15.125  16.000  15.125  15.875  13.616121   263100
3  1988-05-09  16.000  16.500  16.000  16.250  13.937762   102400
4  1988-05-10  16.250  16.375  15.875  15.875  13.616121    91900

In [9]:
df2 = pd.read_csv("../../csv/GDX.csv")
df2.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2006-05-22  36.520000  37.290001  35.869999  37.230000  34.280224  197100
1  2006-05-23  37.750000  39.220001  37.750000  37.959999  34.952393  620900
2  2006-05-24  37.130001  37.570000  35.869999  36.520000  33.626480  638600
3  2006-05-25  37.180000  38.320000  36.980000  38.320000  35.283867  367000
4  2006-05-26  38.740002  38.740002  37.770000  38.549999  35.495640  269400

In [10]:
test1 = invest.Invest(
    df
)

In [11]:
test2 = invest.Invest(
    df2, 
    'Close'
)

In [12]:
test1.BuyAndHold()

ValueError: time data '2010-01-01' does not match format '%Y%m'