In [1]:
import pandas as pd

In [2]:
corona = pd.read_csv('../../csv/corona.csv')
corona.head(1)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN

In [4]:
# 특정 컬럼을 제거 
# drop( 조건, axis = {0(rows) | 1(columns)} , inplace = {bool} )
# drop() 함수는 데이터프레임 class 안에 있는 함수
# 데이터프레임명.drop()
# asix : 행을 지울 것인가? -> 0|"rows"  // 열을 지울것인가? -> 1|'columns'
# inplace : 참/거짓 형태 데이터를 입력값을 받는다. 
#           참 인 경우 : 기준이 되는 데이터프레임을 변경
#           거짓인 경우 : 기준이 되는 데이터프레임을 변경시키지 않는다(기본값)
corona.drop('Unnamed: 0', axis = 1, inplace=True)
# corona = corona.drop('Unnamed: 0', axis = 1)

1. 컬럼의 이름을 변경 
    - ['등록일시', '총사망자', '총확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진율']
2. 데이터프레임의 정보를 확인하고 결측치가 존재한다면 결측치의 개수를 출력